{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": "last 2 chrome versions"
        }
      }
    ],
    ["@babel/preset-react", {"runtime": "automatic"}]
  ],
  "plugins": []
}
